body{
    margin:0;
    padding: 0;
    font-family: sans-serif;
}
.contenedor{
    width: 90%;
    max-width: 1280px;
    margin: auto;
}
.menu{
    background-color: #fff;
    padding: 9px 20px;
}
.menu .contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    color: #000;
    font-size: 23px;
    font-weight: bold;
}
nav ul li{
    display: inline-block;
    margin: 0 20px;
}
nav ul li a{
    text-decoration: none;
    color: #000;
}
 

/*INTRO*/

#intro{
    background: url(intro.jpg);
    background-size: cover;
    background-position: center;
    font-family: "oswald";
    display: flex;
}
#intro .izquierda{
    background-color: rgba(255,255,255,0.60);
    width: 66%;
    padding:65px 75px ;
}
#intro .derecha{
    width: 57%;
    color: #fff;
    height: 503px;
    background-image: linear-gradient(180deg, rgba(255,255,255,0) 80%, #fff 80%);
}
#intro .contenido{
    background:red;
    padding: 1px 50px 40px 50px;
}
#intro .izquierda p{
    font-size: 14px;
    letter-spacing: 18px;
}
#intro h1{
    font-size: 66px;
    font-weight: 100;
    letter-spacing: 23px;
}
#intro a , #programs a, #testimonials a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    letter-spacing: 7px;
    border-bottom: 2px solid red;
    padding-bottom: 13px;
    padding: 0 18px 13px 10px;
}
#intro .derecha a{
    color:#fff;
    border:1px solid #fff;
    padding: 20px;
    display: inline-block;
}
#intro .derecha p{
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 5px;
}


/* PROGRAMS */
#programs{
    padding-top: 90px;
    text-align: center;
    font-family:'oswald';
}
.rojo{
    color: red;
}
#programs .cero{
    font-size: 80px;
    margin-bottom: 0px;
}
#programs .ini{
    letter-spacing: 18px;
    font-size: 15px;
}
#programs h2{
    font-size: 63px;
    font-weight: 100;
    letter-spacing: 16px;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 16px;
}
#programs p {
    font-family:'open sans';
    color: #666;
    font-size: 15px;
    width: 73%;
    margin: auto;
    line-height: 30px;
}
#programs a{
    margin-top:62px;
    display: inline-block;
}
.contenedor-programs{
    display:flex;
    margin-top: 50px;
    width: 88%;
    margin: auto;
}
#programs #uno{
    background: #2a2e3f;
    color: #fff;
}
#uno p, #dos p, #tres p{
    color: #fff;
    text-align: left;
    width: 100%;
}
#programs h3{
    font-size:26px;
    letter-spacing: 4px;
    margin: 0;
    text-align: left;
    font-weight: 400;
    margin-bottom:16px;
}
.program{
    padding: 45px 47px;
    box-shadow: 50px 70px 120px -42px rgba(0,0,0,0.3);
}
#dos{
    background: red;
    color: #fff;
    position: relative;
    top: 120px;
}
#tres p{
    color: #000;
}

/* section-video */

#section-video{
    padding-top: 90px;
    text-align: center;
}
#section-video .contenedor{
    position: relative;    
}
.contenedor .botones{
    position: absolute;
    top: 43%;
    left: 46%;
}
#section-video img{
    font-size: 125px;
    color :#fff;
    width: 63px;
    height: 63px;
    display: inline-block;
}
#section-video img:hover{
    background-color:rgba(255,255,255,0.50);
    border-radius: 56%;
}
#section-video button{
    background: none;
    border: none;
    color: white;
}


/* JOIN */

#join{
    display: flex;
    padding-top:120px;
}

#join .izquierda{
    width: 49%;
    background-color:#fa2a20;
    margin-left: 100px;
    height: 340px;
    position: relative;
}
#join img{
    width: 47%;
}
#join .derecha{
    width: 53%;
    position: relative;
    background: url(join-back.jpg);
    background-size: cover;
}
#join .izquierda a{
    color: #fff;
    border: 1px solid #fff;
    padding: 15px 24px;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    letter-spacing: 5px;
    position: absolute;
    top: 8%;
    left: 32%;
}
#join #uno{
    position: absolute;
    top: 24%;
    left: 56%;
    width: 44%;
    z-index: 1;
}
#join #dos{
    position:absolute;
    top: -44px;
}
#join #tres{
    position: absolute;
    left: 47%;
    top: 24%;
    width: 44%;
}

/* TESTIMONIALS */

#testimonials{
    padding-top: 90px;
    text-align: center;
}
span.comillas{
    font-size: 120px;
    color: red;
}

#testimonials h2{
    font-size: 63px;
    font-weight: 100;
    letter-spacing: 16px;
    margin: 0;
    margin-bottom:36px;
    font-family:sans-serif
}
.contenedor-testimonials{
    display: flex;
    margin-top: 90px;
    justify-content: center;
}
.testimonial{
    width: 40%;
    margin-right: 40px;
}
.testimonial .contenido{
    display: flex;
}
.foto{
    background: url(testimonial.jpg);
    background-size: cover;
    width: 447px;
    height: 85px;
    border-radius: 100%;
    margin-top: 22px;
    background-position:center;
}
.testimonial p{
    color: #666;
    font-size: 15px;
    text-align: left;
    margin-left: 24px;
    line-height: 30px;
    letter-spacing: 1px;
}
p.nombre{
    margin-left: 125px;
    font-weight: bold;
}

/* CONTACTO */
 
#contacto{
    background: url(contacto.jpg);
    color: #fff;
    display: flex;
}
#contacto .izquierda{
    padding: 100px;
    width: 43%;
}
#contacto .izquierda p{
    font-size: 14px;
    letter-spacing: 18px;
}
#contacto h2{
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 19px;
    margin: 0;
    margin-bottom: 30px;
}
#contacto form input[type="text"], #contacto form input[type="email"],#contacto form textarea{
    width: 100%;
    border: 0;
    background: none;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    /* font-family: ; */
    letter-spacing: 3px;
     margin-bottom: 34px;
    text-transform: uppercase;
    font-weight: 100;
    color: #fff;
}
::placeholder{
    color: #fff;
}
#contacto form input[type="submit"]{
    background: none;
    border: 1px solid #fff;
    padding: 20px 30px;
    color: #fff;
    font-size: 17px;
    letter-spacing: 5px;
    float: right;
    cursor: pointer;
}
#contacto .derecha{
    background: #f7291f;
    align-self: flex-end;
    padding: 5px 50px 50px 50px;
    width: 36%;
}
#contacto .derecha .gym-hours{
    box-shadow: 0px 70px 120px -42px rgb(0,0,0,0.4);
    padding: 30px;
    margin-bottom:32px;
}
#contacto .derecha .gym-hours ul{
    padding: 0;
}
#contacto .derecha .gym-hours ul li{
    list-style: none;
    font-family: sans-serif;
    margin-bottom: 20px;
    font-size: 14px;
}
#contacto .derecha .pass{
    background: #fff;
    color: #000;
    padding: 30px;
}
#contacto .derecha .pass a{
    text-decoration: none;
    color: #000;
    border: 1px solid red;
    padding: 22px 30px;
    display: inline-block;
    font-size: 17px;
    letter-spacing: 5px;

}
@media  screen and (max-width:800px) {
    nav {
        position: absolute;
        top: 13%;
        left: 0;
        width: 100%;
        background: #000;
        display: none;
    }
    nav ul li {
        display: block;
        margin-bottom: 17px;
    }
    nav ul li a{
        color :#fff;
    }
    #intro .izquierda p{
        letter-spacing: 2px;
    }
    #intro h1{
        font-size: 26px;
        letter-spacing: 20px;
    }
    #intro a{
        letter-spacing: 4px;
        padding: 5px 5px 13px 3px;
        font-size: 16px;
        display: block;
        margin-top: 55px;
    }
    #programs .ini{
        letter-spacing: 11px;
    }
    #programs h2{
        font-size: 26px;
        margin-top: 30px;
        margin-bottom: 7px;
    }
    #programs a{
        margin-top: 36px;
        margin-bottom: 10px;

    }
    .contenedor-programs{
        display: block;
    }
    #programs #uno{
        margin-bottom: -82px;
    }
    #programs #dos{
        margin-bottom: 120px;
    }
    video#video {
        width: 100%;        
        margin-top: -252px;
        margin-bottom: -220px;

    }
    .contenedor .botones {
        position: absolute;
        top: 3%;
        left: 40%;
    }
    #join .izquierda{
        margin-left: 0px;
    }
    #join img {
        width: 80%;
    }
    #join #uno{
        top: 28%;
        left: 29%;
        width: 71%;
    }
    #join #tres{
        left: 30%;
        top: 60%;
        width: 70%;
    }
    #testimonials a{
        font-size: 15px;
        letter-spacing:  5px;
    }
    #testimonials h2{
        font-size: 21px;
    }
    .contenedor-testimonials {
        display: block;
    }
    .testimonial .contenido {
        display: block;
    }
    .testimonial{
        width: 100%;
    }
    .foto{
        width: 97px;
        margin-left: 107px;
    }
    .testimonial p{
        margin-left: 10px;
        line-height: 20px;
        /* font-size: 10px; */
    }
    #contacto{
        display: block;

    }
    #contacto h2{
        letter-spacing: 15px;
    }
    #contacto .izquierda {
        padding: 20px;
        width: 89%;
    }
    #contacto .izquierda p {
        font-size: 14px;
        letter-spacing: 7px;
    }
    #contacto .derecha{
        width: 60%;
        margin-top: 57px;
    }

    #contacto .derecha{
        display: flex;
        padding: 0;
        width: 375px;
    }
    #contacto .derecha .pass{
        padding:10px ;
    }
    #contacto .derecha .gym-hours {
        padding: 7px;
        margin-bottom: -13px;
    }
    #contacto .derecha .pass a{
        padding: 14px 8px;
        letter-spacing: 4px;
    }
    #contacto .derecha .pass h3{
        font-size: 16px;
    }

}
