body{
    margin:0;
    padding: 0;
    font-family: sans-serif;
}
.contenedor{
    width: 90%;
    max-width: 1280px;
    margin: auto;
}
.menu{
    background-color: #fff;
    padding: 9px 20px;
}
.menu .contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    color: #000;
    font-size: 23px;
    font-weight: bold;
}
nav ul li{
    display: inline-block;
    margin: 0 20px;
}
nav ul li a{
    text-decoration: none;
    color: #000;
}
 

/*INTRO*/

#intro{
    background: url(intro.jpg);
    background-size: cover;
    background-position: center;
    font-family: "oswald";
    display: flex;
}
#intro .izquierda{
    background-color: rgba(255,255,255,0.60);
    width: 66%;
    padding:65px 75px ;
}
#intro .derecha{
    width: 57%;
    color: #fff;
    height: 503px;
    background-image: linear-gradient(180deg, rgba(255,255,255,0) 80%, #fff 80%);
}
#intro .contenido{
    background:red;
    padding: 1px 50px 40px 50px;
}
#intro .izquierda p{
    font-size: 14px;
    letter-spacing: 18px;
}
#intro h1{
    font-size: 66px;
    font-weight: 100;
    letter-spacing: 23px;
}
#intro a , #programs a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    letter-spacing: 7px;
    border-bottom: 2px solid red;
    padding-bottom: 13px;
    padding: 0 18px 13px 10px;
}
#intro .derecha a{
    color:#fff;
    border:1px solid #fff;
    padding: 20px;
    display: inline-block;
}
#intro .derecha p{
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 5px;
}


/* PROGRAMS */
#programs{
    padding-top: 90px;
    text-align: center;
    font-family:'oswald';
}
.rojo{
    color: red;
}
#programs .cero{
    font-size: 80px;
    margin-bottom: 0px;
}
#programs .ini{
    letter-spacing: 18px;
    font-size: 15px;
}
#programs h2{
    font-size: 63px;
    font-weight: 100;
    letter-spacing: 16px;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 16px;
}
#programs p {
    font-family:'open sans';
    color: #666;
    font-size: 15px;
    width: 73%;
    margin: auto;
    line-height: 30px;
}
#programs a{
    margin-top:62px;
    display: inline-block;
}
.contenedor-programs{
    display:flex;
    margin-top: 50px;
    width: 88%;
    margin: auto;
}
#programs #uno{
    background: #2a2e3f;
    color: #fff;
}
#uno p, #dos p, #tres p{
    color: #fff;
    text-align: left;
    width: 100%;
}
#programs h3{
    font-size:26px;
    letter-spacing: 4px;
    margin: 0;
    text-align: left;
    font-weight: 400;
    margin-bottom:16px;
}
.program{
    padding: 45px 47px;
    box-shadow: 50px 70px 120px -42px rgba(0,0,0,0.3);
}
#dos{
    background: red;
    color: #fff;
    position: relative;
    top: 120px;
}
#tres p{
    color: #000;
}