body{
    margin:0;
    padding: 0;
    font-family: sans-serif;
}
.contenedor{
    width: 90%;
    max-width: 1280px;
    margin: auto;
}
.menu{
    background-color: #fff;
    padding: 9px 20px;
}
.menu .contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    color: #000;
    font-size: 23px;
    font-weight: bold;
}
nav ul li{
    display: inline-block;
    margin: 0 20px;
}
nav ul li a{
    text-decoration: none;
    color: #000;
}
 

/*INTRO*/

#intro{
    background: url(intro.jpg);
    background-size: cover;
    background-position: center;
    font-family: "oswald";
    display: flex;
}
#intro .izquierda{
    background-color: rgba(255,255,255,0.60);
    width: 66%;
    padding:65px 75px ;
}
#intro .derecha{
    width: 57%;
    color: #fff;
    height: 503px;
    background-image: linear-gradient(180deg, rgba(255,255,255,0) 80%, #fff 80%);
}
#intro .contenido{
    background:red;
    padding: 1px 50px 40px 50px;
}
#intro .izquierda p{
    font-size: 14px;
    letter-spacing: 18px;
}
#intro h1{
    font-size: 66px;
    font-weight: 100;
    letter-spacing: 23px;
}
#intro a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    letter-spacing: 7px;
    border-bottom: 2px solid red;
    padding-bottom: 13px;
    padding: 0 18px 13px 10px;
}
#intro .derecha a{
    color:#fff;
    border:1px solid #fff;
    padding: 20px;
    display: inline-block;
}
#intro .derecha p{
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 5px;
}